:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3 ease-in-out;
  --mainSpacing: 0.3rem;
}


.text-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--mainGrey) !important;
  color: var(--mainBlack)
}


.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  padding: 1rem 1.5rem;
  background: var(--mainGrey);
  border-bottom: 3px solid var(--primaryColor);
}

.nav-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-cart {
  position: relative;
}

.cart-items {
  background: var(--primaryColor);
  color: var(--mainWhite);
  font-size: 0.85rem;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 0 5px;
  border-radius: 50%;
}