.product {
  .card {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;

    :hover {
      box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      .card-image-top {
        transform: scale(1.15);
      }
    }
  }
}
